# Default Code Owners
* @DataDog/gcp-integrations @DataDog/azure-integrations

# Azure
azure/ @DataDog/azure-integrations

# GCP
gcp/   @DataDog/gcp-integrations

# Storage Monitoring
azure/storage_monitoring/    @DataDog/new-workloads

# Agentless Scanning
gcp/agentless/  @DataDog/k9-agentless
