apache-airflow-providers-amazon==8.16.0
apache-airflow-providers-common-compat==1.2.1
apache-airflow-providers-common-sql==1.20.0
apache-airflow-providers-openlineage==1.14.0
boto3==1.33.13
openlineage-integration-common==1.24.2
openlineage-python==1.24.2
openlineage-sql==1.24.2
pandas==2.1.4
